.aboutHeaderContainer {
  height: 100vh;
  position: relative; 
}

.aboutBanner {
  position: absolute;
  background: url(../img/about_banner.jpg) no-repeat;
  background-size: cover;
  background-position: 70% center;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}