.headerContainer {
  height: 100vh;
  position: relative;
}

.headerImage {
  position: absolute;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center center;

  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.bannerLink {
  &:hover {
    color: $info !important;
    border-bottom: $info solid 1px !important;
  }
}