.navbarLogo {
    width: 136px;
    height: 49px;
    background: url(../img/nav_logo.png) no-repeat;
    background-size: cover;
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
    display:block;
}